# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# NodeJS
node_modules
coverage
yarn-error.log
lerna-debug.log
tsconfig.tsbuildinfo

# Project
dist

# VSCode
.vscode

# ClinicJS
.clinic

# C8
coverage